# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Env
.env
.env.*
!.env.example

# OS / Editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Builds / Artifacts
dist/
build/
coverage/
*.zip
